/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html {
  height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.button {
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center; }
  .button:hover {
    opacity: 0.9; }

@font-face {
  font-family: "Campton-Black";
  src: url("../fonts/Campton-Black.ttf"); }

@font-face {
  font-family: "Campton-BlackItalic";
  src: url("../fonts/Campton-Black.ttf"); }

@font-face {
  font-family: "Campton-Book";
  src: url("../fonts/Campton-Medium.ttf"); }

@font-face {
  font-family: "Campton-SemiBold";
  src: url("../fonts/Campton-SemiBold.ttf"); }

@font-face {
  font-family: "Campton-Thin";
  src: url("../fonts/Campton-Thin.ttf"); }

@font-face {
  font-family: "Campton-Light";
  src: url("../fonts/Campton-Light.ttf"); }

@font-face {
  font-family: "Campton-Light";
  src: url("../fonts/Campton-Light.ttf"); }

.form-common {
  padding: 50px 0;
  width: 40%;
  margin: auto; }
  .form-common * {
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form-common .form-group {
    padding: 10px 0; }
    .form-common .form-group * {
      background-color: #373C56;
      border: none;
      color: #FFFFFF;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .form-common .form-group input {
      padding: 0 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      display: block; }
      .form-common .form-group input::-webkit-input-placeholder {
        color: #FFFFFF; }
      .form-common .form-group input:-moz-placeholder {
        color: #FFFFFF;
        opacity: 1; }
      .form-common .form-group input::-moz-placeholder {
        color: #FFFFFF;
        opacity: 1; }
      .form-common .form-group input:-ms-input-placeholder {
        color: #FFFFFF; }
  .form-common textarea {
    color: #FFFFFF;
    max-width: 100%;
    background-color: #373C56;
    width: 100%;
    min-height: 200px;
    border: none;
    border-radius: none;
    padding: 10px 15px; }
  .form-common select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #373C56;
    color: #FFFFFF;
    padding-left: 15px;
    border: none;
    outline: none;
    border-radius: 0; }
  .form-common button {
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: block;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #99BDC3;
    margin-top: 30px; }
    .form-common button:disabled {
      background-color: #FFFFFF;
      border: 1px #373C56 solid;
      color: #373C56;
      cursor: default; }
      .form-common button:disabled:hover {
        opacity: 1; }
    .form-common button:hover {
      opacity: 0.9; }

body {
  background-color: #99BDC3;
  font-family: 'Campton-Light'; }

.gradient-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background: linear-gradient(#373C56, rgba(55, 60, 86, 0));
  z-index: -1; }

header {
  height: 75px; }
  header ul {
    float: right;
    padding-top: 40px;
    margin-right: 150px; }
    header ul li {
      display: inline-block;
      color: #FFFFFF;
      cursor: pointer;
      border-radius: 3px;
      padding: 5px 10px;
      margin: 0 5px;
      font-size: 15px;
      font-weight: 100; }
      header ul li.active {
        border: 1px solid #FFFFFF; }
      header ul li:hover {
        text-decoration: underline; }

.content {
  padding: 0 150px; }
  .content .content-item {
    display: flex;
    justify-content: center; }

.form {
  min-height: 100px;
  width: 100%; }
  .form .form-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 calc(50vw - 150px) 80px calc(50vw - 150px);
    border-color: transparent transparent #FFFFFF transparent; }
  .form .form-body {
    background-color: #FFFFFF;
    font-family: 'Campton-Book';
    padding: 0 15px 60px 60px; }
    .form .form-body p {
      padding: 10px 0;
      font-size: 17px;
      color: #373C56;
      line-height: 22px; }
    .form .form-body .title {
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      font-family: 'Campton-Black';
      text-transform: uppercase;
      color: #99BDC3;
      padding-bottom: 20px; }
  .form .form-calls {
    display: flex;
    justify-content: center; }
    .form .form-calls .call-to-action {
      margin-top: 40px;
      max-width: 40%;
      min-width: 40%; }
      .form .form-calls .call-to-action .write-letter {
        background-color: #373C56; }
      .form .form-calls .call-to-action .see-letter {
        background-color: #99BDC3; }
      .form .form-calls .call-to-action p {
        text-align: justify; }
      .form .form-calls .call-to-action.or {
        max-width: 10%;
        min-width: 10%; }
        .form .form-calls .call-to-action.or .title {
          font-size: 14px;
          text-transform: none;
          font-weight: 100; }

#lettersTarget {
  padding: 30px;
  background-color: #373C56; }
  #lettersTarget .letter {
    width: 80%;
    margin: 30px auto;
    min-height: 120px;
    border-radius: 4px;
    border: 1px #FFFFFF solid;
    padding: 15px;
    color: #FFFFFF; }
    #lettersTarget .letter .letter-text {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 30px; }
    #lettersTarget .letter .button-accept-letter {
      width: 400px;
      margin: auto;
      text-align: center;
      height: 40px;
      line-height: 40px;
      background-color: #99BDC3;
      border-radius: 4px;
      cursor: pointer; }
      #lettersTarget .letter .button-accept-letter i {
        padding-right: 5px; }
      #lettersTarget .letter .button-accept-letter:hover {
        opacity: 0.9; }

.letters-block .letters-broken-border {
  height: 200px;
  background-image: url("../images/triangles-purple.png"); }

footer {
  color: #FFFFFF;
  background-color: #373C56; }

.regions-block {
  color: #FFFFFF;
  padding-bottom: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .regions-block ul {
    padding: 0 20px; }
    .regions-block ul li {
      padding: 5px 0;
      cursor: pointer; }
      .regions-block ul li:hover {
        text-decoration: underline; }
