@mixin background-image-retina($file, $type, $size, $position-x: left, $position-y: top, $background-repeat: no-repeat) {
  background-image: url($file + '.' + $type);
  background-size: $size;
  background-position: $position-x $position-y;
  background-repeat: $background-repeat;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    background-image: url($file + '_2x.' + $type);
  }
}
