footer
  color: $white
  background-color: $dark-blue
  padding: 15px $margin-content-big
  @media screen and (max-width: 1000px)
    padding: 15px $margin-content-medium
  @media screen and (max-width: 700px)
    padding: 15px $margin-content-small
  .contact-block
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    .contact-item
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
      flex-direction: row
      .contact
        padding: 30px
        @media screen and (max-width: 550px)
          padding: 30px 10px
        font-size: 20px
        a
          color: $white
          text-decoration: none
          cursor: pointer
          &:hover
            color: $light-blue
  .copyright
    text-align: center
    font-size: 12px
