mixin footer()
  footer
    p ourkids.org.ua - це проект, який довго виношувався в наших головах.
    p Ми не можемо гарантувати, що подарунок, який Ви купите, дійде точно до дітей, хоч наші модератори докладуть до цього максимум зусиль. Перевірка - це те, що ми залишимо частково під вашою відповідальністю.
    p Ми не можемо гарантувати, що людина, яка відгукнеться на Ваш лист дістане і передасть цей подарунок.
    p В випадку будь-яких непередбачуваних ситуацій, зв'яжіться з нами за контактами, які надані нижче. Ми постараємося зробити так, щоби форс-мажори не забрали свято у дітей.
    .contact-block
      .contact-item
        .contact
          i.fa.fa-phone
          span  +38093-24-445-24
      .contact-item
        .contact
          a(href="https://www.facebook.com/volodymyrlut" target="_blank")
            i.fa.fa-facebook
        .contact
          a(href="http://vk.com/volodymyrlut" target="_blank")
            i.fa.fa-vk
        .contact
          a(href="mailto:volodymyrgalan@gmail.com?Subject=ourkids" target="_blank")
            i.fa.fa-envelope
    p.copyright &copy; 2015 OurKids.org.ua
