mixin form
  .form
    .form-triangle
    .form-body
      h1.title Миколай не вибирає
      p Протягом отанніх двох років сотні військовослужбовців, співробітників МВС, волонтерів та добровольців загинули, захищаючи нашу країну. Багато дітей стали частково сиротами.
      p Ми віримо, що наша місія - зробити цих дітей хоч трішки щасливішими. Ми знаємо, що деколи задовольнити дитячі вимоги дуже складно, особливо, коли не стає одного з батьків.
      p Ми впевнені, що зможемо усією країною стати для них Миколаями. Допоможіть матерям покласти дитям 19 грудня під подушку чи 1 січня під ялинку омріяний подарунок.
      .form-calls
        .call-to-action
          .title Напишіть листа
          p Залиште нам текст листа дитини, щоби люди могли відгукнутися. Після швидкої перевірки модераторами він з'явиться на сайті. Не переживайте - Ваше ім'я та телефон знатиме лише модератор та людина, яка купить подарунок.
          #writeLetterTarget
        .call-to-action.or
          .title або
        .call-to-action
          .title Подаруйте свято дітям
          p Виберіть лист дитини, подарунки з якого Ви можете собі дозволити. Клікніть на нього та залиште нам свій телефон. Потрібно буде просто купити подарунки та передати їх безпосередньо тому, хто покладе їх під подушку:)
          #seeLetterTarget
      main#LetterFormTarget
