mixin letters()
  .letters-block
    .letters-broken-border
    main#lettersTarget
    .share
      p Розкажіть своїм знайомим про нас, аби ми змогли знайти дітей, які чекають на подарунки!
      .sharing-block
        a(href="http://www.facebook.com/sharer.php" target="_blank")
          i.fa.fa-facebook
      .sharing-block
        a(href="http://twitter.com/share" target="_blank")
          i.fa.fa-twitter
      .sharing-block
        a(href="http://vk.com/share.php" target="_blank")
          i.fa.fa-vk
